bloc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="lesson">
        <xs:annotation>
            <xs:documentation>
                A BLOC lesson.
                Read more: https://bloc.shie1bi.hu
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="TitleType"/>
                <xs:element name="author" type="AuthorType" minOccurs="0"/>
                <xs:element name="date" type="xs:date"/>
                <xs:element name="content">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="section" type="SectionType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="format" type="FormatType" use="required"/>
            <xs:attribute name="lang" type="xs:language"/>
        </xs:complexType>
    </xs:element>

    <!-- Formatting tags -->

    <xs:complexType name="TextWithInlineFormatting" mixed="true">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="strong" type="StrongType"/>
                <xs:element name="em" type="EmType"/>
                <xs:element name="u" type="UType"/>
                <xs:element name="b" type="BType"/>
                <xs:element name="sub" type="SubType"/>
                <xs:element name="sup" type="SupType"/>
                <xs:element name="del" type="DelType"/>
                <xs:element name="ins" type="InsType"/>
                <xs:element name="mark" type="MarkType"/>
                <xs:element name="code" type="CodeType"/>
                <xs:element name="br" type="BrType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StrongType">
        <xs:annotation>
            <xs:documentation>Strong text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="EmType">
        <xs:annotation>
            <xs:documentation>Emphasized text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="UType">
        <xs:annotation>
            <xs:documentation>Underlined text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="BType">
        <xs:annotation>
            <xs:documentation>Bold text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="SubType">
        <xs:annotation>
            <xs:documentation>Subscript text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="SupType">
        <xs:annotation>
            <xs:documentation>Superscript text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="DelType">
        <xs:annotation>
            <xs:documentation>Deleted text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="InsType">
        <xs:annotation>
            <xs:documentation>Inserted text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="MarkType">
        <xs:annotation>
            <xs:documentation>Marked or highlighted text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="CodeType">
        <xs:annotation>
            <xs:documentation>Code text.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="BrType">
        <xs:annotation>
            <xs:documentation>Line break.</xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <!-- End of formatting tags -->

    <xs:simpleType name="TitleType">
        <xs:annotation>
            <xs:documentation>The title of the current lesson or section.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="AuthorType">
        <xs:annotation>
            <xs:documentation>The author of the current lesson or section.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="HeadingLevelType">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="HeadingType" mixed="true">
        <xs:annotation>
            <xs:documentation>A heading.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="strong" type="StrongType"/>
                <xs:element name="em" type="EmType"/>
                <xs:element name="u" type="UType"/>
                <xs:element name="b" type="BType"/>
                <xs:element name="sub" type="SubType"/>
                <xs:element name="sup" type="SupType"/>
                <xs:element name="del" type="DelType"/>
                <xs:element name="ins" type="InsType"/>
                <xs:element name="mark" type="MarkType"/>
                <xs:element name="code" type="CodeType"/>
                <xs:element name="br" type="BrType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="level" type="HeadingLevelType" use="required"/>
    </xs:complexType>

    <xs:complexType name="SectionType">
        <xs:annotation>
            <xs:documentation>A section in the lesson.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="p" type="TextWithInlineFormatting">
                    <xs:annotation>
                        <xs:documentation>A paragraph.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="h" type="HeadingType"/>
                <xs:element name="ul" type="UnorderedListType"/>
                <xs:element name="ol" type="OrderedListType"/>
                <xs:element name="def" type="DefinitionType"/>
                <xs:element name="definition" type="DefinitionType"/>
                <xs:element name="img" type="ImageType"/>
                <xs:element name="video" type="VideoType"/>
                <xs:element name="note" type="NoteType"/>
                <xs:element name="warning" type="WarningType"/>
                <xs:element name="citation" type="CitationType"/>
                <xs:element name="audio" type="AudioType"/>
                <xs:element name="code-block" type="CodeBlockType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="BlocIdentifierType" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="BlocIdentifierType">
        <xs:annotation>
            <xs:documentation>A unique identifier for a BLOC section.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="FormatType">
        <xs:annotation>
            <xs:documentation>The format of the lesson.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="print"/>
            <xs:enumeration value="interactive"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="UnorderedListType">
        <xs:annotation>
            <xs:documentation>An unordered list.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="li" type="TextWithInlineFormatting" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A list item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrderedListType">
        <xs:annotation>
            <xs:documentation>An ordered list.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="li" type="ListItem" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A list item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListItem" mixed="true">
        <xs:annotation>
            <xs:documentation>A list item.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="strong" type="StrongType"/>
                <xs:element name="em" type="EmType"/>
                <xs:element name="u" type="UType"/>
                <xs:element name="b" type="BType"/>
                <xs:element name="sub" type="SubType"/>
                <xs:element name="sup" type="SupType"/>
                <xs:element name="del" type="DelType"/>
                <xs:element name="ins" type="InsType"/>
                <xs:element name="mark" type="MarkType"/>
                <xs:element name="code" type="CodeType"/>
                <xs:element name="br" type="BrType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DefinitionType">
        <xs:annotation>
            <xs:documentation>A definition.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="title" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ImageType">
        <xs:annotation>
            <xs:documentation>An image.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:anyURI" use="required"/>
        <xs:attribute name="alt" type="xs:string" use="required"/>
        <xs:attribute name="caption" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="VideoType">
        <xs:annotation>
            <xs:documentation>A video.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:anyURI" use="required"/>
        <xs:attribute name="required" type="xs:boolean" use="optional"/>
        <xs:attribute name="caption" type="xs:string" use="optional"/>
        <xs:attribute name="autoplay" type="xs:boolean" use="optional"/>
        <xs:attribute name="controls" type="xs:boolean" use="optional"/>
        <xs:attribute name="loop" type="xs:boolean" use="optional"/>
        <xs:attribute name="muted" type="xs:boolean" use="optional"/>
        <xs:attribute name="poster" type="xs:anyURI" use="optional"/>
    </xs:complexType>

    <xs:complexType name="CitationType">
        <xs:annotation>
            <xs:documentation>A citation.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="title" type="xs:string" use="required"/>
        <xs:attribute name="url" type="xs:anyURI" use="required"/>
        <xs:attribute name="author" type="xs:string" use="optional"/>
        <xs:attribute name="date" type="xs:date" use="optional"/>
    </xs:complexType>

    <xs:complexType name="AudioType">
        <xs:annotation>
            <xs:documentation>An audio file.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:anyURI" use="required"/>
        <xs:attribute name="required" type="xs:boolean" use="optional"/>
        <xs:attribute name="autoplay" type="xs:boolean" use="optional"/>
        <xs:attribute name="controls" type="xs:boolean" use="optional"/>
        <xs:attribute name="loop" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="NoteType">
        <xs:annotation>
            <xs:documentation>A note.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="p" type="TextWithInlineFormatting" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A paragraph.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WarningType">
        <xs:annotation>
            <xs:documentation>A warning.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="p" type="TextWithInlineFormatting" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A paragraph.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CodeBlockType">
        <xs:annotation>
            <xs:documentation>A code block.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
